.Email_Block {
    background-color: blue;
}


.Current_Value {
    border: 5px solid blue;
}


.Safe_Value {
	border: 5px solid purple;
}





.Checked {
	border: inset 5px green
}

.Checkbox_Value {
	outline: 5px solid blue;
}




.New_Entry {
	background-color: white;
}

.Modify_Entry {
	background-color: white;
}